# Dataset too large for GitHub
data/arxiv-metadata-oai-snapshot.json
data/*.json

# Virtual environment
venv/

# Models
models/*.pkl
models/*.index

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/